html {
    height: 100%;
}
body {
    background: #333333; 
    margin:0;
	padding:0;
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#container {
/*	padding:20px;*/
}
#content {
	width:250px;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
}
#greyLogo{
	width:151px;   
    margin:0 auto 10px;
}
#clientLogo {
	margin-top:10px;
	margin-bottom:0px;
	padding:20px;
	padding-bottom:0px;
}
#clientLogo img {
	//width:100%;
}
#list {
	overflow:auto;
/*	height:700px;
*/	height:100%;
	padding:20px;
	padding-top:0px;
}
h1{
	font-family:'Monserrat', Helvetica, Arial, sans-serif;
	font-size:12px;
    line-height:20px;
	font-weight:bold;
	color:#fff;
	background:#a1a0a3;
	margin-top:20px;
	margin-bottom:10px;
	text-transform:uppercase;
	padding:2px 5px;
	border-bottom:#8a0a0a solid 2px;
}
h2{
	font-family:'Monserrat', Helvetica, Arial, sans-serif;
	font-size:14px;
	font-weight:bold;
	color:#0066CC;
	margin-bottom:10px;
}
h3{
	font-family:'Monserrat', Helvetica, Arial, sans-serif;
	font-size:14px;
	font-weight:bold;
	color:#a1a0a3;
}
ul{
	list-style-type:none;
	padding:0;
	margin:0;
}
li{
	list-style:none;
	font-family:'Open Sans', Helvetica, Arial, sans-serif;
	font-size:14px;
	color:#a1a0a3;
	margin:10px 0;
}
a{
	color:#8a0a0a;
    text-decoration: none;
}
a:hover{
	color:#000;
}
#legal{
	font-family:'Open Sans', Helvetica, Arial, sans-serif;
	font-size:10px;
	text-align:center;
	color:#fff;
	width:190px;
	margin:5px 0;
}
#legal p{
	margin:5px 0;
}
