html {
    height: 95%;
}
body {
    background: #222222;
    margin:0;
    padding:0;
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#container {
/*	padding:20px;*/
}
#content {
	width: 90%;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
}
#myLogo{
	width:100px;
	margin: 20px 0 10px 20px;
}
#myLogo img {
  width: 100%;
  /* box-shadow: 0px 0px 7px 1px rgba(0,0,0,0.75); */
}
#clientLogo {
	margin-top:10px;
	margin-bottom:0px;
	padding:20px;
	padding-bottom:0px;
}
#clientLogo img {
	width:100%;
}
#list {
	overflow:auto;
	padding:20px;
	padding-top:0px;
	width: 95%;
}
h1{
	font-family:'Monserrat', Helvetica, Arial, sans-serif;
	font-size:14px;
	line-height:20px;
	/* font-weight:bold; */
	color:#fff;
	/* background:#a1a0a3; */
	margin-top:20px;
	margin-bottom:10px;
	text-transform:uppercase;
	padding: 2px 0 4px 0;
	border-bottom:#8a0a0a solid 2px;
}
h2{
	font-family:'Monserrat', Helvetica, Arial, sans-serif;
	font-size:14px;
	font-weight:bold;
	color:#0066CC;
	margin-bottom:10px;
}
h3{
	font-family:'Monserrat', Helvetica, Arial, sans-serif;
	font-size:14px;
	font-weight:bold;
	color:#a1a0a3;
}
ul{
	list-style-type:none;
	padding:0;
	margin:0;
}
li{
	list-style:none;
	font-family:'Open Sans', Helvetica, Arial, sans-serif;
	font-size:14px;
	color:#a1a0a3;
	margin:10px 0;
}
a{
	color: #bbb;
	text-decoration: none;
}
a:hover{
	color: #fc0;
}
#legal{
	font-family:'Open Sans', Helvetica, Arial, sans-serif;
	font-size:10px;
	text-align:center;
	color:#fff;
	width:190px;
	margin:5px 0;
}
#legal p{
	margin:5px 0;
}
.shadow {
	filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=0, OffY=0,Color='#444')";
	filter: url(#drop-shadow);
	-webkit-filter: drop-shadow(0px 0px 7px rgba(0,0,0,0.5));
	filter: drop-shadow(0px 0px 7px rgba(0,0,0,0.5));
}
